<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/assets/images/favicon.png">
    <title>Smart Farm</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtremeadmin/"/>
    <link
            href="/static/assets/libs/chartist/dist/chartist.min.css"
            rel="stylesheet">
    <link href="/static/dist/js/pages/chartist/chartist-init.css" rel="stylesheet">
    <link
            href="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css"
            rel="stylesheet">
    <link href="/static/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
    <link href="/static/assets/libs/morris.js/morris.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -->

    <!-- 20210720 css 추가 -->
    <link href="/static/dist/css/user-main.css" rel="stylesheet">
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script
        src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script
        src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    
    <link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">



</head>
<style>
    .fix_5 { width: 5%; }
    .fix_8 { width: 8%; }
    .fix_15 { width: 15%; }
    .fix_10 { width: 10%; }
    .fix_20 { width: 20%; }
    .fix_23 { width: 23%; }
    .fix_25 { width: 25%; }
    .fix_28 { width: 28%; }
    .fix_35 { width: 35%; }
    .fix_50 { width: 50%; }



    .table-noline {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        margin-left: auto;
        margin-right: auto;
        border:none !important;
    }

    .table-noline thead th {
        vertical-align: bottom;
    }

    .table-noline th,
    .table-noline td {
        padding: 0.75rem;
        vertical-align: middle;
        border-top:0px solid #d6d8db;;
        border-bottom:1px solid #d6d8db;;
        }

    .pagination-center{
        justify-content: center;
    }


</style>

<body class="bg-white">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="col-md-12">
                    <div class="pull-left text-left">
                        <p>
                        <h3 class="card-title" id="back_button"><i class="fas fa-arrow-left" ></i> <b>&nbsp;&nbsp;장비현황</b></h3>
                        <div class="card card-body">
                            <form>
                                <input type="hidden" class="form-control" id="userid" value="{{userid}}" placeholder="">
                                
                                <div class="form-group">
                                        <address>
                                            <p class="text-dark ml-1"><h5>장비유형 : {{type}}</h5></p>
                                            <p class="mt-4"><h5>장비아이디 : {{device_id}}</h5></p>
                                            <p class="mt-4"><h5>설치장소 : {{house_name}}</h5></p>
                                            <p class="mt-4"><h5>운행상태 : 정상</h5></p>
                                        </address>
                                </div>

                            </form>
                        </div>
                        
                         <div class="card card-body" id="div_root">

                            <h4 class="card-title">장비운행기본설정</h4>
                            <h6 class="card-subtitle">장비운행정보를 설정할 수 있습니다.</h6>

                            <div class="card">
                                <div class="card-body" id="operation">
                                </div>
                                <div class="form-group text-center">
                                    <input type="hidden"  id="device_id" value="{{device_id}}"/>
                                    <button type="button" class="btn waves-effect waves-light btn-success" id="button_save">저장하기</button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            
        </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.js"></script>
<script src="/static/dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script
        src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<!-- chartist chart -->
<script src="/static/assets/libs/chartist/dist/chartist.min.js"></script>
<script
        src="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/static/assets/extra-libs/echarts/echarts-all.js"></script>
<script src="/static/assets/extra-libs/flot/excanvas.js"></script>
<script src="/static/assets/extra-libs/flot/jquery.flot.js"></script>
<script src="/static/assets/extra-libs/flot/jquery.flot.time.js"></script>
<script
        src="/static/assets/extra-libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<!-- Chart JS -->
<script src="/static/dist/js/pages/dashboards/dashboard5.js"></script>

<!-- This page plugin js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


<script src="/static/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/dist/js/pages/datatable/custom-datatable.js"></script>
<script src="/static/dist/js/pages/datatable/datatable-basic.init.js"></script>



<!-- ============================================================== -->

<script>
     
        $(document).ready(function(){

            url_ = '/device_individual_operation_loading';
            //alert(url_);
            $.ajax(
                    {
                    url:url_,
                    dataType:"json",
                    type:'GET',
                    data:{'device_id': $("#device_id").val()}
                    }
                ).done(function(json) {
                        
                        var html_="";
                        if(json.result == "no")
                        {
                            $("#operation").empty();
                            html_=html_ + "<h4 class=\"card-title mt-4\">오전</h4>";
                            for(i=1 ; i < 24; i++  ){

                                    temp_id = ""
                                    if(i < 10 )
                                    {
                                        hour_ = "0" + i + ":00"  ;
                                        temp_id = "0" + i;
                                    }
                                    else{
                                        hour_ = i + ":00"  ;
                                        temp_id = i;
                                    }
                            
                                    if(hour_=="12:00"){
                                        html_=html_+ "<h4 class=\"card-title mt-4\">오후</h4>";
                                    }
                                   if(hour_=="04:00"  || hour_=="07:00"  || hour_=="10:00"   || hour_=="15:00"  || hour_=="18:00" || hour_=="21:00"){
                                                html_=html_+ "<p>";
                                    }
                                
                                    html_=html_+"<input type=\"checkbox\" id=\"time_" + temp_id + "\" class=\"material-inputs chk-col-blue\" " + ""+  " />";
                                    html_=html_+"<label for=\"time_" + temp_id+ "\">" + hour_ + "</label>&nbsp";
                                    //alert(html_);
                                
                                }
                                //alert(html_);
                                $("#operation").append(html_);

                        }else{
                                
                                //alert(json.result["type"]);
                                ////////////////////////////////////////////////////////////////////////////////////////
                                //[{"01:00": "checked"} ,]
                               
                                if(json.result.length > 0 )
                                {
                                    $("#operation").empty();
                                    html_=html_ + "<h4 class=\"card-title mt-4\">오전</h4>";
                                  
                                    for(i=1 ; i < json.result.length+1 ; i++  ){

                                            temp_id = ""
                                            if(i < 10 )
                                            {
                                                hour_ = "0" + i + ":00"  ;
                                                temp_id = "0" + i;
                                            }
                                            else{
                                                hour_ = i + ":00"  ;
                                                temp_id = i;
                                            }
                                            //alert(json.result[i]["time"]);

                                            //alert(json.result[i]["time"]);                                             
                                            //alert(json.result[i]["checked"]);
                                             if(hour_=="12:00"){
                                                html_=html_+ "<h4 class=\"card-title mt-4\">오후</h4>";
                                            }
                                            if(hour_=="04:00"  || hour_=="07:00"  || hour_=="10:00"   || hour_=="15:00"  || hour_=="18:00" || hour_=="21:00"){
                                                html_=html_+ "<p>";
                                            }

                                            html_=html_+"<input type=\"checkbox\" id=\"time_" + temp_id + "\" class=\"material-inputs chk-col-blue\" " + json.result[i-1]["checked"] +  " />";
                                            html_=html_+"<label for=\"time_" + temp_id+ "\">" + hour_ + "</label>&nbsp;&nbsp;";
                                            //alert(html_);
                                    }
                                    //alert(html_);
                                    $("#operation").append(html_);
                                }

                            }
                        })
                        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                        .fail(function(xhr, status, errorThrown) {
                            showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                        } );    


        });
    

        $("#button_save").click(function(){

                jsonRoot = new Object();

                jsonSendData_Array = new Array();

                var get_input_check = $("#div_root input[type=checkbox]");
                $.each(get_input_check, function (index, value) {
                        //alert(index);
                        //alert(value);
                        //alert('id =' + $(value).attr("id"));
                        //alert('name =' + $(value).attr("name"));
                        //alert('value =' + $(value).val());

                        if($(value).is(":checked") == true){

                          //< input type = "checkbox" id = "CCTV_01" class = "material-inputs chk-col-blue" CHECKED />
                           jsonSendData = new Object();
                           jsonSendData.time=$(value).attr("id").split("_")[1]+":00";
                           jsonSendData.checked="CHECKED" 
                    

                           jsonSendData_Array.push(jsonSendData);

                        }else{
                           jsonSendData = new Object();
                           jsonSendData.time=$(value).attr("id").split("_")[1]+":00";
                           jsonSendData.checked="" 

                           jsonSendData_Array.push(jsonSendData);

                        }

                    });

                //alert(JSON.stringify(jsonSendData_Array));
                jsonRoot.operation_setting = jsonSendData_Array;
                jsonRoot.device_id = $("#device_id").val();
                //alert(JSON.stringify(jsonRoot));
                var jsonData = JSON.stringify(jsonRoot);
            

                //return false;
               
                to_url = "/device_save_individual_operation" ; 

                $.ajax(
                    {
                    url:to_url,
                    dataType:"json",
                    contentType:"application/json",
                    type:'POST',
                    data:jsonData  
                    }
                  )
                        // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                       .done(function(json) {
                            //alert("json.result : " + json.result);
                            var temp_result = json.result;  // the data type that was returned is the list.
                            if(temp_result =="ok")
                            {
                                
                                view_url = "/mobile_device_list"; 
                                //alert(view_url);
                                location.href = view_url;
                                //location.reload();
                            }
                            else{
                                showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                            }
                
                        })
                        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                        .fail(function(xhr, status, errorThrown) {
                            showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                        } );    

        });
       

    $("#back_button").click(function(){
            to_url = "/mobile_device_list" ; 
            //alert(to_url);
            location.href = to_url;
    });

    $( "#logout" ).click(function() {

        $.confirm({
            title: '로그아웃을 하시겠습니까?',
            content: '10초후에 자동 로그아웃이 됩니다.',
            autoClose: 'logoutUser|10000',
            buttons: {
                logoutUser: {
                    text: '로그아웃',
                    action: function () {
                        //$.alert('The user was logged out');
                        $(location).attr('href', '/logout')

                    }
                },
                cancel: function () {
                    $.alert('canceled');
                }
            }
        });

    });
</script>
 <script>
        
    function showMessageSimple( message){

        $.confirm({
                title: '알람',
                content: message,
                type: 'blue',
                typeAnimated: true
                });
        }

</script>

</body>

</html>