<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>Drop2Drop Sign Up</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/static/assets/images/background/login-register.jpg) no-repeat center center; background-size: cover;">
            <div class="auth-box p-4 bg-white rounded">
                <div>
                    <div class="logo">
                        <h3 class="box-title mb-3">Sign Up</h3>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal mt-3 form-material"  method="POST" action="/regist_do">
                            {{ form.csrf_token() }}
                                <div class="form-group mb-3">
                                    <div class="col-xs-12">
                                        {{ form.username(class="form-control" ,type="text", required="" ,placeholder="Name")}}
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-xs-4">       
                                        {{ form.userid(class="form-control",type="text" ,required="", placeholder="Id") }}
                                        <p></p><button type="button" id="btn_check_id"  class="btn waves-effect waves-light btn-success">Check ID</button>
                                        <input id="hidden_check_id" type="hidden" value="0">
                                    </div>
                                </div>
                                <div class="form-group mb-3 ">
                                    <div class="col-xs-12">
                                        {{ form.password(class="form-control",type="password" ,required="", placeholder="Password") }} 
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-xs-12">            
                                        {{ form.repassword(class="form-control", type="password", required="" ,placeholder="Confirm Password")}}
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="col-xs-12">            
                                        {{ form.company_code(class="form-control", type="text", required="" ,placeholder="Company code")}}
                                    </div>
                                    <p></p>
                                    <h6 class="text-info">* You have to know company code to join !</h6> 
                                </div>
                               
                                <div class="form-group mb-3 ">
                                    <div class="col-xs-12">
                                         {{ form.email(class="form-control", type="text" ,placeholder="Email")}}
                                    </div>
                                </div>
                                 <!-- 
                                <div class="form-group mb-3 ">
                                    <div class="col-xs-12">
                                         {{ form.phone_number(class="form-control" ,type="text", required="", placeholder="mobile")}}
                                    </div>
                                </div>
                                -->
                                <!--
                                <div class="form-group mb-3">
                                    <div class="">
                                        <div class="checkbox checkbox-success pt-0">
                                            <input id="checkbox-signup" type="checkbox" class="chk-col-indigo material-inputs">
                                            <label for="checkbox-signup">I am agree. 
                                            <a href="#" target=”_blank”>Terms of Service</a>
                                            <a href="#" target=”_blank”>Personal Information Protection</a></label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="form-group text-center mb-3">
                                    <div class="col-xs-12">
                                        <button class="btn btn-info btn-lg btn-block waves-effect waves-light" id="btn_regist" type="submit">Regist</button>
                                    </div>
                                </div>
                                <div class="form-group mb-0 mt-2 ">
                                    <div class="col-sm-12 text-center ">
                                        Do you have a account already? <a href="/login" id="btn_login" class="text-info ml-1 ">Sing In</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- ============================================================== -->
    
    <script>
    $('[data-toggle="tooltip "]').tooltip();
    $(".preloader ").fadeOut();
  
  
    // id check ////////////////////////////////////////
     $("#userid").change(function(){
            // set hidden_check_id to 0;
            $("#hidden_check_id").val("0");
            
    });


    $('#btn_check_id').click(function () {

         if($('#userid').val() == "" )
         {
             showMessageSimple("Check id");
             return ;
         }

         $.ajax(
                {
                url:'/check_user',
                dataType:"json",
                type:'GET',
                data:{'userid':$('#userid').val()}
                })
                    // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                    .done(function(json) {
                        //alert("json.result : " + json.result);
                        var temp_result = json.result;

                        if(temp_result == "yes")
                            {
                                showMessageSimple("Id is duplicated");
                                $("#hidden_check_id").val("0");

                            }
                        else {
                                showMessageSimple("You can use it");
                                $("#hidden_check_id").val("1");

                        }
                        //alert("hidden_check_id : " + $("#hidden_check_id").val());
                        /*
                        // 
                        var myObj = $.parseJSON(data);
                        for (var i=0; i<myObj.length; i++) {
                            console.log(myObj[i]["result_code"]);
                        }
                        */
                        // temp = JSON.parse(data);
                        // $("<h1>").text(json.title).appendTo("body");
                        // $("<div class=\"content\">").html(json.html).appendTo("body");
            
                    })
                    // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                    .fail(function(xhr, status, errorThrown) {
                        
                        showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                        //alert(xhr);
                        //alert(status);
                        //alert(errorThrown);
                        //$("#text").html("오류가 발생했다.<br>")
                        //.append("오류명: " + errorThrown + "<br>")
                        //.append("상태: " + status);
                    } );           
        
    });
    //////////////////////////////////////////////////////

    // 사용자 약관 동의 ////////////////////////////////////////
   
    $('#btn_regist').click(function () {
        /*
        var checked = $('#checkbox-signup').is(':checked');

        if (!checked) {
            //$.jQueryAlert("사용자 약관을 동의해주세요.");
            // alert("사용자 약관을 동의해주세요");
                   showMessageSimple('Please check for user agreement');

                return false;
        }
        */
       
        if ($("#hidden_check_id").val() != "1") {
                   
                    showMessageSimple('Please check id(exgist)');
                    
                    return false;
                }
        if ($('#password').val() !=$('#repassword').val()) {
                   
                   //alert($('#password').val());
                   //alert($('#repassword').val());
                   showMessageSimple('Please check password');
                    
                   return false;
                }
    });
    //////////////////////////////////////////////////////
  
     
    function showMessageSimple( message){
        
                $.confirm({
                        title: 'Notification',
                        content: message,
                        type: 'blue',
                        typeAnimated: true
                        });
    }

</script>

</body>

</html>