 <div class="mo-menu row mb-5">
        <div class="col-sm-1 fix_20">
            <div class="text-center"><a href="/mobile_home"><i class="fas fa-align-justify fa-1x"></i></div>
            <div class="text-center"><p class="h5">홈</p></a></div>
        </div>
        <div class="col-sm-1 fix_20">
            <div class="text-center"><a href="/mobile_sensor"><i class="fas fa-chart-area  fa-1x"></i></div>
            <div class="text-center"><p class="h5">센서정보</p></a></div>
        </div>
        <div class="col-sm-1 fix_20">
            <div class="text-center"><a href="/mobile_monitoring"><i class="fas fa-clipboard-list fa-1x"></i></div>
            <div class="text-center"><p class="h5">생육정보</p></a></div>
        </div>
        <div class="col-sm-1 fix_20">
            <div class="text-center"><a href="/mobile_farm_diary/1"><i class="fas fa-window-restore  fa-1x"></i></div>
            <div class="text-center"><p class="h5">영농일지</p></a></div>
        </div>
        <div class="col-sm-1 fix_20">
            <div class="text-center"><a href="/mobile_notice_list/1"><i class="fas fa-id-card  fa-1x"></i></div>
            <div class="text-center"><p class="h5">농장정보</p></a></div>
        </div>
    </div>