<html>
    <head>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/style2.css') }}"/>
        <script src="{{ url_for('static', filename='js/jssample.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/sample2.js') }}"></script>
    </head>

    <body>
        <div>
            <td>
                <p style="color: blue" class="" onclick="sample2();">do this click!</p>
            </td>
        </div>

        <img src="{{ url_for('static', filename='dist/imageroot/img1.jpg') }}"></body>
</html>