<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/assets/images/favicon.png">
    <title>Smart Farm</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtremeadmin/"/>
    <link
            href="/static/assets/libs/chartist/dist/chartist.min.css"
            rel="stylesheet">
    <link href="/static/dist/js/pages/chartist/chartist-init.css" rel="stylesheet">
    <link
            href="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css"
            rel="stylesheet">
    <link href="/static/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
    <link href="/static/assets/libs/morris.js/morris.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -->

    <!-- 20210720 css 추가 -->
    <link href="/static/dist/css/user-main.css" rel="stylesheet">
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script
        src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script
        src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    
    <link href="/static/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">



</head>
<style>
    .fix_5 { width: 5%; }
    .fix_8 { width: 8%; }
    .fix_15 { width: 15%; }
    .fix_10 { width: 10%; }
    .fix_20 { width: 20%; }
    .fix_23 { width: 23%; }
    .fix_25 { width: 25%; }
    .fix_28 { width: 28%; }
    .fix_35 { width: 35%; }
    .fix_50 { width: 50%; }



    .table-noline {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        margin-left: auto;
        margin-right: auto;
        border:none !important;
    }

    .table-noline thead th {
        vertical-align: bottom;
    }

    .table-noline th,
    .table-noline td {
        padding: 0.75rem;
        vertical-align: middle;
        border-top:0px solid #d6d8db;;
        border-bottom:1px solid #d6d8db;;
        }

    .pagination-center{
        justify-content: center;
    }


</style>

<body class="bg-white">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" >
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="col-md-12">
                    <div class="pull-left text-left">
                        <p>
                        <h3 class="card-title text-info" id="back_button"><i class="fas fa-arrow-left" ></i> <b>&nbsp;&nbsp;기본정보</b></h3>
                        <p>&nbsp;</p>
                        <div class="card card-body">
                            
                            <form class="form-horizontal ">
                                <div class="form-group row d-flex align-items-center">
                                    <label  for="userid" class="w-25  text-center control-label col-form-label">아이디</label>
                                    <div class="w-50">
                                        <input readonly type="text" class="form-control" id="userid" value="{{userinfos.userid}}"  placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  for="inputname" class="w-25  text-center control-label col-form-label">이름</label>
                                    <div class="w-50">
                                        <input readonly type="text" class="form-control" id="inputname" value="{{userinfos.username}}"  placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  for="old_password" class="w-25  text-center control-label col-form-label">현재 비밀번호</label>
                                    <div class="w-50">
                                        <input readonly type="text" class="form-control" id="old_password" value="{{userinfos.password}}"  placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  for="new_password" class="w-25  text-center control-label col-form-label">새비밀번호</label>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="new_password" value=""  placeholder="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label  for="new2_password" class="w-25  text-center control-label col-form-label">새비밀번호(확인)</label>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="new2_password" value=""  placeholder="">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn waves-effect waves-light btn-success" id="button_save">변경하기</button>
                                </div>
                               
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.js"></script>
<script src="/static/dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script
        src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<!-- chartist chart -->
<script src="/static/assets/libs/chartist/dist/chartist.min.js"></script>
<script
        src="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/static/assets/extra-libs/echarts/echarts-all.js"></script>
<script src="/static/assets/extra-libs/flot/excanvas.js"></script>
<script src="/static/assets/extra-libs/flot/jquery.flot.js"></script>
<script src="/static/assets/extra-libs/flot/jquery.flot.time.js"></script>
<script
        src="/static/assets/extra-libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<!-- Chart JS -->
<script src="/static/dist/js/pages/dashboards/dashboard5.js"></script>

<!-- This page plugin js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


<script src="/static/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/dist/js/pages/datatable/custom-datatable.js"></script>
<script src="/static/dist/js/pages/datatable/datatable-basic.init.js"></script>



<!-- ============================================================== -->

<script>
    $("document").ready(function(){

    });   

    $("#back_button").click(function(){
            to_url = "/mobile_setting" ; 
            //alert(to_url);
            location.href = to_url;
    });
    $("#button_save").click(function(){

            if(  $("#new_password").val() == "" ||  $("#new2_password").val() == "" ) 
                  {
                    showMessageSimple("비밀번호가 입력되지 않았습니다.");
                    return false;
                  }      
              
            if(  $("#new_password").val() !=  $("#new2_password").val() ) 
                  {
                    showMessageSimple("비밀번호가 틀립니다.");
                    return false;
                  } 


            jsonSendData = new Object();
            jsonSendData.userid = $("#userid").val();
            jsonSendData.newpassword = $("#new_password").val();
            //alert(JSON.stringify(jsonSendData));
            
            to_url = "/change_password" ; 

            $.ajax(
                    {
                    url:to_url,
                    dataType:"json",
                    type:'POST',
                    data:jsonSendData  
                    }
                )
                    // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨.
                    .done(function(json) {
                        //alert("json.result : " + json.result);
                        var temp_result = json.result;  // the data type that was returned is the list.
                        if(temp_result =="ok")
                        {
                            
                            view_url = "/mobile_setting"; 
                            //alert(view_url);
                            location.href = view_url;
                            //location.reload();
                        }
                        else{
                            showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                        }
            
                    })
                    // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨.
                    .fail(function(xhr, status, errorThrown) {
                        showMessageSimple("System Error ! Plase Call System Manager : " + errorThrown);
                    } );        
              

    });


    $( "#logout" ).click(function() {

        $.confirm({
            title: '로그아웃을 하시겠습니까?',
            content: '10초후에 자동 로그아웃이 됩니다.',
            autoClose: 'logoutUser|10000',
            buttons: {
                logoutUser: {
                    text: '로그아웃',
                    action: function () {
                        //$.alert('The user was logged out');
                        $(location).attr('href', '/logout')

                    }
                },
                cancel: function () {
                    $.alert('canceled');
                }
            }
        });

    });
</script>
 <script>
        
    function showMessageSimple( message){

        $.confirm({
                title: '알람',
                content: message,
                type: 'blue',
                typeAnimated: true
                });
        }

</script>

</body>

</html>